<div class="col-12 playlist-container playlist-song-list shadow half-height">
  <div class="card mh-100" *ngIf="this.playlist">
    <div class="card-header text-center current-playlist-holder">
      <h5 class="text-center font-weight-bold d-inline" placement="top" ngbTooltip="Edit Playlist Name" (click)="openModal(content)">{{ this.playlist.name }}</h5>
      <div ngbDropdown placement="left-top">
        <img ngbDropdownToggle class="icon float-right img-margin" align="bottom" style="width: 32px; height: 32px;" placement="left"
          ngbTooltip="Save" src='assets/playlist/save_playlist_black.png' />
        <div ngbDropdownMenu>
          <button class="dropdown-item" (click)="savePlaylist(false)" [disabled]="true">Save to Current Playlist (coming soon!)</button>
          <button class="dropdown-item" (click)="savePlaylist(true)" [disabled]="true">Save to New Playlist (coming soon!)</button>
          <button class="dropdown-item btn-danger">Cancel</button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush playlist-list scrollable-content">
      <li class="list-group-item" [style.background-color]="this.onSong === i ? '#918A8A' : '#BEBEBE'" (mouseover)="this.mouseOver = i"
        (mouseout)="this.mouseOver = -1" (click)="playGivenVideo(i, pls.song.url)" *ngFor="let pls of this.playlist.playlistSong index as i">
        <img class="d-none d-md-none d-lg-inline" [src]="this.getThumbnail(pls.song.url)" /> {{ i+1 }}. {{ pls.song.name }}
        <app-mouseover-menu [@showState]="this.mouseOver === i ? 'show' : 'hide'" [addToPL]="true" [addToQ]="true" [deleteFromPL]="true"
          [selectedSong]="pls.song" [selectedPLS]="pls"></app-mouseover-menu>
      </li>
    </ul>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Playlist Name</h4>
  </div>
  <div class="modal-body">
    <input [value]="playlistRename" (input)="playlistRename = $event.target.value" type="text" class="form-control col-12" placeholder="Playlist Name"
      (ngEnter)="c($event)" autofocus="autofocus">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary col-2" (click)="d()">Cancel</button>
    <button type="button" class="btn btn-success col-2" (click)="c()" [disabled]="playlistRename.length <=0 || playlistRename === this.playlist.name">Save</button>
  </div>
</ng-template>