input{
    display: inline-block;
    text-align: center;
    width: 25%;
    position: left;
}

button{
    border: 0 none hlsa(0,0%,0%,0);
    outline: 0 none hlsa(0,0%,0%,0);
    box-shadow: none;
    background: none;
    -webkit-appearance: none;
}

button:hover{
    background: rgba(0,0,0,0.5);
}

#left-player{
    float: left;
}

#current-playlist-block{
    float: right; 
    border: 5px solid grey; 
    height: 49.75vh; 
    width: 29.25vw;
    text-align: left;
}

h3{
    text-align:center;
}

#more-playlists{
    clear: both;
    float:left; 
    border: 5px solid grey;
    width: 50%; 
    max-height: 500px;
}

#other-playlists li{
    display:inline;
    list-style-type: none;
    max-width: 40%;
}

#song-list{
    overflow: hidden;
    overflow-y: scroll;
}

#songs-in-playlist{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 35vh;
}

#other-playlist-list{
    overflow: hidden;
    overflow-y: scroll;
}

ul {
	margin: 1.5em; 
    overflow:hidden;
    overflow-y:scroll;
    max-height: 390px;
}

ul li {
	border-bottom: 1px solid #ccc;
	padding: .2em 0 .2em .5em;
	font-weight: bold;
	color: #666; 
}

ul li:hover {
	background-color: #f2f2f2;
	color: #000; 
}

a{
    color: #000;
}

img{
    width: 50px;
    margin: 2;
}

/* Even row cells are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Odd row cells are one color */
tr:nth-child(odd) td { background: #FEFEFE; }
