input{
    display: inline-block;
    text-align: center;
    width: 25%;
    position: left;
}

button{
    border: 0 none hlsa(0,0%,0%,0);
    outline: 0 none hlsa(0,0%,0%,0);
    box-shadow: none;
    background: none;
    -webkit-appearance: none;
}

button:hover{
    background: rgba(0,0,0,0.5);
}

#left-player{
    float: left;
}

#current-playlist-block{
    float: right; 
    border: 5px solid black; 
    height: 49.75vh; 
    width: 29.35vw;
    text-align: left;
    background: #343434;
}

#current-playlist-block h3{
    text-align: center;
    color: whitesmoke;
}

#current-playlist-block button{
    color: whitesmoke;
}

#current-playlist-block ol{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 35vh;
}

#current-playlist-block ol li{
    color: whitesmoke;
    border-bottom: none;
    font-size: 12px;
    font-weight: normal;
}

#current-playlist-block ol li img{
    width: 75px;
}

#current-playlist::-webkit-scrollbar-thumb{
    background-color: #918A8A;
}

#current-playlist::-webkit-scrollbar-track{
    background-color: #343434;
}

#current-playlist::-webkit-scrollbar{ /* need this here to make two above work idk why...*/
    background: none;
}

#extra-playlists-block{
    clear: both;
    border: 5px solid black;
    display: inline-block;
    width: 100%;
}

#extra-playlists-block h3{
    text-align: center;
}

#extra-playlists-block ul{
    overflow: hidden;
    overflow-y: scroll;
}

#user-playlists{
    width: 45%;
    max-height: 500px;
    height: 500px;
    float: left;
}

#all-playlists{
    width: 45%;
    max-height: 500px;
    height: 500px;
    float: right;
}

ul {
	margin: 1.5em; 
    overflow:hidden;
    overflow-y:scroll;
    max-height: 390px;
}

ul li {
	border-bottom: 1px solid #ccc;
	padding: .2em 0 .2em .5em;
	font-weight: bold;
	color: #666; 
}

ul li:hover {
	background-color: #f2f2f2;
	color: #000; 
}

img{
    width: 50px;
    margin: 2;
}

/* Even row cells are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Odd row cells are one color */
tr:nth-child(odd) td { background: #FEFEFE; }
