.extra-playlists#minimized{
    float: right;
    width: 45vw;
}

.icon#minimize-button{
    padding-top: 10px;
}

.icon:hover{
    background-color: rgba(255,255,255,.5);
}

.left-player#minimized{
    display: block;
}

.playlist-container h3{
    text-align: center;
}

#wrapper{
    display: inline-block;
    height: 45vh;
}