<div id="container" *ngIf="!_userService.loggedIn && !_creatingAccount">
    <div>
        <label for="username">Username:</label>
        <input [value]="_username" (input)="_username = $event.target.value" type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input [value]="_password" (input)="_password = $event.target.value" type="password" id="password" name="password">

        <div id="lower">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">Keep me logged in</label>
            <button input type="submit" value="login" (click)="checkValidLogin()">Sign In</button>
            <button input type="submit" value="create" (click)="createNewUserView()">Create Account</button>
        </div>
    </div>
</div>

<div *ngIf="_userService.loggedIn">
    <h3>Welcome {{ _userService.getUserName() }} </h3>
</div>

<div *ngIf="_creatingAccount && !_userService.loggedIn">
    <div id="create-container">
        First name: <input [(ngModel)]="fname" input type="text" name="fname"><br>
        Last name: <input [(ngModel)]="lname" type="text" name="lname"><br>
        Username: <input [(ngModel)]="uname" type="text" name="uname"><br>
        Password: <input [(ngModel)]="password" type="password" name="password"><br>
        <div id="lower">
            <button input type="submit" value="create" (click)="createNewUser(fname, lname, uname, password)">Create Account</button>
        </div>
    </div>
</div>