img{
    width: 50px;
}

.img-left{
    float: left;
}

.img-right{
    float: right;
}

img#playlist-img{
    width: 75px;
}

.icon{
    display: inline;
}

.icon:hover{
    cursor: pointer;
}

.icon-middle{
    vertical-align: bottom;
}

.icon-ex-sml{
    width: 17px;
}

.icon-sml{
    width: 20px;
}

.icon-med{
    width: 30px;
}

.icon-lrg{
    width: 35px;
}