.current-playlist-holder{
    background: darkgrey !important;
}

.no-padding{
    padding: 0;
}

.current-playlist-holder{
    background: darkgrey !important;
}

.playlist-container{
    padding: 0;
    
}

.playlist-song-list{
    background: lightgrey !important;
}