.current-playlist-holder{
    background: darkgrey !important;
}

.no-padding{
    padding: 0;
}

.playlist-container{
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.playlist-song-list{
    background: lightgrey !important;
}