<div class="container container-fluid">
  <div class="row">
    <div class="col-12 no-padding">
      <youtube-player [videoId]="this.videoId" [height]="getScreenHeight()" [width]="getScreenWidth()" (ready)="savePlayer($event)"
        (change)="onStateChange($event)"></youtube-player>
    </div>
  </div>
  <div class="row">
    <div class="col-12 playlist-container playlist-song-list no-padding margin-top shadow" *ngIf="this.playlist && this.showPlaylist">
      <div class="card" *ngIf="this.playlist  && this.showPlaylist">
        <div class="card-headeer text-center current-playlist-holder">
          <h5 class="text-center">{{this.playlist.name}}
          </h5>
        </div>
        <ol class="list-group list-group-flush" *ngFor="let pls of this.playlist.playlistSong index as i">
          <li class="list-group-item" [style.background-color]="this.onSong === i ? '#918A8A' : '#BEBEBE'" (mouseover)="this.mouseOver = i" (mouseout)="this.mouseOver = -1">
            <img [src]="this.getThumbnail(pls.song.url)" /> {{i+1}}. {{pls.song.name}}
            <app-mouseover-menu [@showState]="this.mouseOver === i ? 'show' : 'hide'" [addToPL]="true" [addToQ]="true" [deleteFromPL]="true"
              [selectedSong]="pls.song" [selectedPLS]="pls" (successMessageOutput)="triggerMessage($event)"></app-mouseover-menu>
          </li>
        </ol>
      </div>
    </div>
    <div id="snackbar" [@showState]="successMessage ? 'show' : 'hide'">{{ successMessage }}</div>
  </div>