<div class="container container-fluid">
  <div class="row">
    <div class="col-12 no-padding">
      <youtube-player [videoId]="this.videoId" [height]="getScreenHeight()" [width]="getScreenWidth()" (ready)="savePlayer($event)"
        (change)="onStateChange($event)"></youtube-player>
    </div>
  </div>
  <div class="row">
    <div class="col-12 playlist-container playlist-song-list shadow margin-top" *ngIf="this.playlist && this.showPlaylist">
      <div class="card" *ngIf="this.playlist  && this.showPlaylist">
        <div class="card-header text-center current-playlist-holder">
          <h5 class="text-center font-weight-bold d-inline" placement="top" ngbTooltip="Edit Playlist Name" (click)="openModal(content)">{{this.playlist.name}}</h5>
          <div ngbDropdown placement="right">
            <img ngbDropdownToggle class="icon float-right img-margin" align="bottom" style="width: 32px; height: 32px;" placement="left" ngbTooltip="Save"
              src='assets/playlist/save_playlist_black.png'/>
            <div ngbDropdownMenu>
              <button class="dropdown-item" (click)="savePlaylist(false)">Save to Current Playlist</button>
              <button class="dropdown-item" (click)="savePlaylist(true)">Save to New Playlist</button>
              <button class="dropdown-item btn-danger">Cancel</button>
            </div>
          </div>
        </div>
        <ol class="list-group list-group-flush" *ngFor="let pls of this.playlist.playlistSong index as i">
          <li class="list-group-item" [style.background-color]="this.onSong === i ? '#918A8A' : '#BEBEBE'" (mouseover)="this.mouseOver = i"
            (mouseout)="this.mouseOver = -1" (click)="playSongOnClick(i)">
            <img class="d-none d-sm-none d-md-inline" [src]="this.getThumbnail(pls.song.url)" /> {{i+1}}. {{pls.song.name}}
            <app-mouseover-menu [@showState]="this.mouseOver === i ? 'show' : 'hide'" [addToPL]="true" [addToQ]="true" [deleteFromPL]="true"
              [selectedSong]="pls.song" [selectedPLS]="pls" (successMessageOutput)="triggerMessage($event.message, $event.action, $event.level)"></app-mouseover-menu>
          </li>
        </ol>
      </div>
    </div>
    <app-snackbar [messageOut] = "messageOut" ></app-snackbar>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Playlist Name</h4>
  </div>
  <div class="modal-body">
    <input [value]="playlistRename" (input)="playlistRename = $event.target.value" type="text" class="form-control col-12" placeholder="Playlist Name"
      (ngEnter)="c($event)" autofocus="autofocus">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary col-2" (click)="d()">Cancel</button>
    <button type="button" class="btn btn-success col-2" (click)="c()" [disabled]="playlistRename.length <= 0 || playlistRename === this.playlist.name">Save</button>
  </div>
</ng-template>