<div class="icon-menu">
  <div *ngIf="deleteFromPL">
    <img class="icon icon-middle icon-sm float-right img-margin" placement="top" ngbTooltip="Remove" src='assets/playlist/delete_song_black.png'
      (click)="deletePlaylistSong($event)" />
  </div>
  <div *ngIf="addToQ">
    <img class="icon icon-middle icon-sm float-right img-margin" placement="top" ngbTooltip="Add to queue" src='assets/playlist/add_playlist.png'
      (click)="addToQueue($event)" />
  </div>
  <div ngbDropdown placement="top-right" *ngIf="addToPL" #myDrop="ngbDropdown">
    <img ngbDropdownToggle class="icon icon-middle icon-sm float-right img-margin" placement="left-bottom" ngbTooltip="Add to a playlist"
      src='assets/playlist/add_playlist_2.png' (click)="$event.stopPropagation();" />
    <div ngbDropdownMenu aria-labelledby="addToPlaylist">
      <ul class="list-group list-group-flush specific-height" *ngIf="this.playlists">
        <li class="dropdown-item" *ngFor="let playlist of this.playlists index as i" (click)="addToPlaylist(playlist, i, $event); myDrop.close();">
          {{ playlist.name }}
        </li>
        <button class="dropdown-item btn-danger" (click)="cancelDropdown($event); myDrop.close();">Cancel</button>
      </ul>
    </div>
  </div>
  <div *ngIf="deletePL">
    <img class="icon icon-middle icon-sm float-right img-margin" placement="right" ngbTooltip="Delete" src="assets/playlist/delete_song_black.png"
      (click)="deletePlaylist()" />
  </div>
</div>