.icon-menu{
    float: right;
    opacity: inherit;
    width: 25%;
}

.img-margin{
    margin-right: 1%;
}

.specific-height{
    max-height: 15vh;
    overflow-y: auto;
}

div.ngbDropdown{
    z-index: 5001 !important;
}

.top-z{
    z-index: 9999 !important;
}