<div>
    <h3>Test form</h3>
    <form (ngSubmit)="onSubmit()" #songForm="ngForm">
        <div class="form-group">
            <label for="artist">Artist</label>

            <select class="form-control" id="artist" required [(ngModel)]="_selectedArtist" name="artist">
                <option *ngFor="let artist of _artists | async" [ngValue]="artist">{{ artist.name }}</option>
                <!--<option value="other">Other...</option>-->
            </select>

            
            <!--<input [value]="_otherArtist" (input)="_otherArtist = $event.target.value" type="text" id="selectedArtist" name="selectedArtist" required *ngIf="_selectedArtist === 'other'">-->        
        </div>

        <div class="form-group">
            <label for="name">Song Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="_songName" name="name">
        </div>

        <div class="form-group">
            <label for="url">URL (youtube only)</label>
            <input type="url" class="form-control" id="url" required [(ngModel)]="_songURL" name="url">
        </div>

        <div class="form-group">
            <label for="album">Album</label>
            <select class="form-control" id="album" required [(ngModel)]="_selectedAlbum" name="album">
                <ng-container *ngIf="_selectedArtist">
                    <ng-container *ngFor="let album of _albums | async">
                        <option *ngIf="_selectedArtist.artistId === album.artistId" [ngValue]="album">{{ album.name }}</option>
                    </ng-container>
                </ng-container>
                <!--<option value="other">Other...</option>-->
            </select>
            <div *ngIf="!_selectedArtist" class="alert alert-danger">Please Select an Artist</div>
            <!--<input [value]="_otherAlbum" (input)="_otherAlbum = $event.target.value" type="text" id="selectedAlbum" name="selectedAlbum" required *ngIf="_selectedAlbum === 'other'">-->
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!songForm.form.valid">Submit</button>
    </form>
</div>