<div>
    <div class="left-player" *ngIf="this._width && this._height">
        <youtube-player [videoId]="_videoId" [width]="this._width" [height]="this._height" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player> 
    </div>

    <div id="wrapper">
        <div class="playlist-container playlist-container-black">
            <input [value]="_playlistName" (input)="_playlistName = $event.target.value" type="text" id="_playlistName" name="_playlistName">
            <button class="createButton" type="button" style="border: 3px solid darkslategrey; background: whitesmoke" (click)='savePlayList()'>Save Playlist</button><br>
            <ol class="current-playlist current-playlist-black" *ngIf='_playlistSongs && _playlistSongs.length'>
                <li *ngFor="let song of _playlistSongs; let i = index">
                    <img id="playlist-img" [src]="getUrlImage(song.url)"/>
                    {{ song.name }}
                    <img class='icon icon-sml' id='delete-button' [src]="_deleteButton" (click)='removeSong(i)'/>
                </li>
            </ol>
        </div>
    </div>

    <div class="extra-playlists">
        <div class="tab">
            <button class="tablinks" (click)="openTab('songs')">Songs</button>
            <button class="tablinks" (click)="openTab('artists')">Artists</button>
            <button class="tablinks" (click)="openTab('albums')">Albums</button>
            <button class="tablinks" (click)="openTab('playlists')">Other Playlists</button>
        </div>

        <div id="songs" class="tabcontent" *ngIf='this._tabInView === "songs"'>
            <ul class="playlist-selection" id='songs-tab-list'>
                <li *ngFor="let song of _songs | async">
                    <img [src]="getUrlImage(song.url)"/>
                    {{ song.name }}
                    <button type="button" (click)='playSong(song)'>Play Song</button>
                    <button type="button" (click)='addSong(song)'>Add Song</button>
                </li>
            </ul>
        </div>

        <div id="artists" class="tabcontent" *ngIf='this._tabInView === "artists"'>
            <ul class="playlist-selection" id='artists-tab-list'>
                <li *ngFor="let artist of _artists | async">
                    {{ artist.name }}
                     <ul class="playlist-selection" id='artists-albums' *ngIf='artist.album && artist.album.length'>
                        <li *ngFor="let album of artist.album; let i = index">
                            {{ album.name }}
                            <ul class="playlist-selection" id='album-songs' *ngIf='album.song && album.song.length'>
                                <li *ngFor="let song of album.song; let i = index">
                                    <img [src]="getUrlImage(song.url)"/>
                                    {{ song.name }}
                                    <button type="button" (click)='playSong(song)'>Play Song</button>
                                    <button type="button" (click)='addSong(song)'>Add Song</button>
                                </li>
                             </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="albums" class="tabcontent" *ngIf='this._tabInView === "albums"'>
            <ul class="playlist-selection" id='albums-tab-list'>
                <li *ngFor="let album of _albums | async">
                    {{ album.name }}
                    <ul class="playlist-selection" id='alumb-songs' *ngIf='album.song && album.song.length'>
                        <li *ngFor="let song of album.song; let i = index">
                            <img [src]="getUrlImage(song.url)"/>
                            {{ song.name }}
                            <button type="button" (click)='playSong(song)'>Play Song</button>
                            <button type="button" (click)='addSong(song)'>Add Song</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="playlists" class="tabcontent" *ngIf='this._tabInView === "playlists"'>
            <ul class="playlist-selection" id='playlists-tab-list'>
                <li *ngFor="let playlist of _otherPlaylists | async">
                    {{ playlist.name }}
                </li>
            </ul>
        </div>
    </div>
</div>