input{
    display: inline-block;
    text-align: center;
    width: 25%;
    position: left;
}

button{
    border: 0 none hlsa(0,0%,0%,0);
    outline: 0 none hlsa(0,0%,0%,0);
    box-shadow: none;
    background: none;
    -webkit-appearance: none;
}

button:hover{
    background: rgba(0,0,0,0.5);
}

.createButton{
    border: none;
    outline: 1px solid #000;
}

#wrapper{
    float: right;
    height: 45vh;
}