<nav>
  <ul style="max-width: 75%; margin: auto;">
    <li>
      <a [routerLink]="['/']">
        Home
      </a>
    </li>
    |
    <li>
      <div>
        <!--<a [routerLink]="['/create']">
          Create
        </a>-->
        <button (click)="showDropDown()" class="dropbtn">Create</button>
        <div id="dropDown" class="dropdown-content">
          <a [routerLink]="['/create/newplaylist']" (click)="showDropDown()">New Playlist</a>
          <a [routerLink]="['/create/editplaylist']" (click)="showDropDown()">Edit Playlist</a>
          <a [routerLink]="['/create/play']" (click)="showDropDown()">Play playlist</a>
        </div>
      </div>
    </li>
    <li>
      <a [routerLink]="['/about']">
        About
      </a>
    </li>
    <li>
      <a [routerLink]="['/github', 'angular']">
        Github Repos
      </a>
    </li>
    <li>
      <a [routerLink]="['/contact']">
        Contact Us
      </a>
    </li>
    <li style="float: right">
      <a [routerLink]="['/login']">
        Sign in
      </a>
    </li>
  </ul>
</nav>

<div style="max-width: 75%; margin: auto;"> <!-- was 1024px -->
    <main>
      <router-outlet></router-outlet>
    </main>
</div>