.margin-top{
    margin-top: 1%;
}

.margin-bottom{
    margin-bottom: 1%;
}

.md-input{
    max-width: 50%;
    width: 50%;
}

.no-padding{
    padding: 0;
}

.navbar{
    background-color: #333333;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: searchfield;
   }
   
   input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: searchfield-cancel-button;
}

.toggle{
    position: absolute;
    /*width: 50px;
    height: 50px;
    line-height: 50px;*/
    text-align: center;
    left: 5px;
    top: 85px;
    z-index: 5;
}