<div class="app-container">
  <div style="max-width: 75vw; margin: auto" class="container">
    <a [routerLink]="['/']">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Create</button>
      <div class="dropdown-content">
        <a [routerLink]="['/create/newplaylist']">New Playlist</a>
        <a [routerLink]="['/create/editplaylist']">Edit Playlist</a>
        <a [routerLink]="['/create/play']">Play playlist</a>
      </div>
    </div>
      <a [routerLink]="['/about']">About</a>
      <a [routerLink]="['/github', 'angular']">Github Repos</a>
      <a [routerLink]="['/contact']">Contact Us</a>
      <a *ngIf="!_storage.getValue('loggedIn')" style="float: right" [routerLink]="['/login']">Sign in</a>
      <a *ngIf="_storage.getValue('loggedIn')" style="float: right" [routerLink]="['/login']" (click)="logOut()">Sign out</a>
  </div>

  <div style="max-width: 75vw; margin: auto"> <!-- was 1024px -->
      <main>
        <router-outlet></router-outlet>
      </main>
  </div>
</div>