.btn{
    overflow-x: hidden;
}

.side-bar{
    height: 95vh;
}

.half-height{
    max-height: 25vh;
    height: 25vh;
}

.playlist-holder{
    overflow-y: scroll;
}

::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}