md-tab-group{
    height: 100%;
}

/deep/ .mat-tab-label{
    color: black;
}

md-list md-list-item{
    color: black;
}

md-tab-label{
    color: black;
}

.extra-playlists md-list{
    overflow: hidden;
}

.extra-playlists{
    border: 5px solid black;
    box-sizing: border-box;
    clear: both;
    height: 50vh;
    margin: 2% auto 5% 10%; /*top right bottom left */
    max-height: 45vh;
    max-width: 70vw;
    width: 70vw;
}