<div class="extra-playlists">
    <md-tab-group>
        <md-tab label="Songs">
            <md-list>
                <md-list-item *ngFor="let song of _songs | async">
                    <img [src]="getUrlImage(song.url)"/>
                    {{ song.name }}
                    <img class='icon icon-sml' id='add-button' src="app/assets/playlist/add_playlist_2.png" (click)='addSong(song)'/>
                </md-list-item>
            </md-list>
        </md-tab>

        <md-tab label="Artists">
            <md-list md-list>
                <md-list-item md-list-item *ngFor="let artist of _artists | async">
                    {{artist.name}}
                </md-list-item>
            </md-list>
        </md-tab>

        <md-tab label="Albums">
            <md-list md-list>
                <div *ngFor="let album of _albums | async">
                    <md-list-item md-list-item style="border-top: 3px solid black;">{{album.name}}</md-list-item>
                    <md-list md-list style="margin-left:30px;">
                        <div *ngFor="let song of album.song">
                            <md-list-item md-list-item>
                                <img [src]="getUrlImage(song.url)"/>
                                {{song.name}}
                                <img class='icon icon-sml' id='add-button' src="app/assets/playlist/add_playlist_2.png" (click)='addSong(song)'/>
                            </md-list-item>
                        </div>
                    </md-list>
                </div>
            </md-list>
        </md-tab>
    </md-tab-group>
</div>