.current-playlist-holder{
    background: darkgrey !important;
}

.no-padding{
    padding: 0;
}

.current-playlist-holder{
    background: darkgrey !important;
}

.playlist-container{
    padding: 0;
}

.playlist-song-list{
    background: lightgrey !important;
}

.playlist-list{
    overflow-y: scroll;
}

.half-height{
    max-height: 45vh;
    height: 45vh;
}

::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}
