<div class="container-fluid shadow no-padding">
  <div class="row">
    <div class="mx-auto mb-3">
      <h5 class="font-weight-bold">Profile Information</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-9">
      <form class="form ml-5">

        <!--First Name-->
        <div class="form-group row">
          <label for="inputFirstName" class="col-xl-4 col-form-label font-weight-bold">First Name:</label>
          <div class="col-md-7">
            <input [value]="this.user.firstName" (input)="this.user.firstName = $event.target.value" type="text" class="form-control"
              id="inputFirstName" placeholder="First Name" [ngClass]="{ 'is-invalid': !this.user.firstName.length, 'is-valid': this.user.firstName.length }">
              <small id="passwordHelpBlock" class="form-text text-muted" *ngIf="!this.user.firstName.length">Must have first name</small>
          </div>
        </div>

        <!--Last Name-->
        <div class="form-group row">
          <label for="inputLastName" class="col-xl-4 col-form-label font-weight-bold">Last Name:</label>
          <div class="col-md-7">
            <input [value]="this.user.lastName" (input)="this.user.lastName = $event.target.value" type="text" class="form-control" id="inputLastName"
              placeholder="Last Name" [ngClass]="{ 'is-invalid': !this.user.lastName.length, 'is-valid': this.user.lastName.length }">
              <small id="passwordHelpBlock" class="form-text text-muted" *ngIf="!this.user.lastName.length">Must have last name</small>
          </div>
        </div>

        <!--Username-->
        <div class="form-group row">
          <label for="inputUserName" class="col-xl-4 col-form-label font-weight-bold">Username:</label>
          <div class="col-md-7">
            <input [value]="this.user.username" (input)="this.user.username = $event.target.value" (focusout)="validateUsername()" type="text"
              class="form-control" id="inputUserName" placeholder="Username" [ngClass]="{ 'is-invalid': usernameTaken || !this.user.username.length, 'is-valid': !usernameTaken }">
            <small id="usernameHelpBlock" class="form-text text-muted" *ngIf="usernameTaken">Username is already taken</small>
            <small id="usernameHelpBlock2" class="form-text text-muted" *ngIf="!this.user.username.length">Must have a username</small>
          </div>
        </div>

        <!--Password-->
        <div class="form-group row">
          <label for="inputPassword" class="col-xl-4 col-form-label font-weight-bold">Password:</label>
          <div class="col-md-7">
            <input [value]="newPassword" (input)="newPassword = $event.target.value" type="password" class="form-control" id="inputPassword" placeholder="Password" 
            [ngClass]="{ 'is-invalid': !passwordsMatch(), 'is-valid': passwordsMatch() }">
          </div>
        </div>

        <!--Confirm Password-->
        <div class="form-group row">
          <label for="inputCPassword" class="col-xl-4 col-form-label font-weight-bold">Confirm Password:</label>
          <div class="col-md-7">
            <input [value]="confirmPassword" (input)="confirmPassword = $event.target.value" type="password" class="form-control" id="inputCPassword" placeholder="Confirm Password"
            [ngClass]="{ 'is-invalid': !passwordsMatch(), 'is-valid': passwordsMatch() }">
            <small id="passwordHelpBlock" class="form-text text-muted" *ngIf="!passwordsMatch()">Passwords must match</small>
          </div>
        </div>

        <!--Update/Cancel buttons-->
        <div class="form-group row">
          <!--Empty label for spacing-->
          <label class="col-xl-4 col-form-label"></label>
          <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="updateAccount()" [disabled]="!canUpdateInfo()">Save Changes</button>
            <button type="button" class="btn btn-outline-danger" (click)="resetValues(true)">Cancel</button>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>