<div class="main-container container-fluid">
  <div class="row">
    <!--User profile information-->
    <div class="col-12 mx-auto">
      <div class="card account-wall">
        <div class="text-center font-weight-bold">
          Profile Information
        </div>
        <form>
          <div class="form-group row">
            <div class="form-group col-md-6">
              <label for="inputFirstName" class="col-form-label">First Name:</label>
              <input [value]="this.user.firstName" (input)="this.user.firstName = $event.target.value" type="text" class="form-control"
                id="inputFirstName" placeholder="First Name" required autofocus>
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName" class="col-form-label">Last Name:</label>
              <input [value]="this.user.lastName" (input)="this.user.lastName = $event.target.value" type="text" class="form-control" id="inputLastName"
                placeholder="Last Name" required autofocus>
            </div>
          </div>
          <div class="for-group row">
            <div class="form-group col-md-6">
              <label for="inputUsername" class="col-form-label">Username:</label>
              <input [value]="this.user.username" (input)="this.user.username = $event.target.value" type="text" class="form-control" id="inputUsername"
                placeholder="Username" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-md-6">
              <label for="inputPassword" class="col-form-label">Update Password:</label>
              <input [value]="newPassword" (input)="newPassword = $event.target.value" type="password" class="form-control" id="inputPassword"
                placeholder="Password" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputCPassword" class="col-form-label">Confirm Password:</label>
              <input [value]="confirmPassword" (input)="confirmPassword = $event.target.value" type="password" class="form-control" id="inputCPassword"
                placeholder="Confirm Password" required>
              <small id="passwordHelpBlock" class="form-text text-muted" *ngIf="!passwordsMatch()">Passwords must match</small>
            </div>
          </div>
          <!--<button type="button" class="btn btn-primary btn-block" (click)="updateAccount()" [disabled] = "!passwordsMatch()">Update Info</button>-->
          <button type="button" class="btn btn-primary btn-block" (click)="updateAccount()" [disabled]="true">Update Info (Coming Soon!)</button>
        </form>
      </div>
    </div>
  </div>
</div>