.margin-top{
    margin-top: 5%;
}

.no-padding{
    padding: 0;
}

.shadow{
    box-shadow:         3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
}

.static-height{
    height: 90vh;
    max-height: 90vh;
}

.static-size{
    height: 50vh;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}