<div class="main-container container-fluid shadow no-padding">
    <ngb-tabset justify="justified">
        <ngb-tab title="Our Results">
            <ng-template ngbTabContent>
                <div class="card">
                    <div class="card-header">Top Results for: {{ searchString }}</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action" (mouseover)="this.mouseOver = i" (mouseout)="this.mouseOver = -1" *ngFor="let song of songs | async | filterPipe : searchString index as i">
                        {{ song.name }}
                        <app-mouseover-menu [@showState]="this.mouseOver === i ? 'show' : 'hide'" [addToPL]="true" [addToQ]="true" [deleteFromPL]="false"
                            [selectedSong]="song" (successMessageOutput)="triggerMessage($event.message, $event.level)"></app-mouseover-menu>
                    </li>
                </ul>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Youtube Results">
            <ng-template ngbTabContent>
                <div class="card">
                    <div class="card-header">Top Results for: {{ searchString }}</div>
                </div>
                <div *ngIf="this.searchString.length">
                    <ul class="list-group list-group-flush" *ngFor="let result of youtubeResults | async | youtubePipe index as i">
                        <li class="list-group-item list-group-item-action" (mouseover)="this.mouseOver = i" (mouseout)="this.mouseOver = -1" (click)="selectYoutubeSong(result, content)"
                            *ngIf="i <= this.currentlyDisplaying">
                            {{ result.snippet.title }}
                        </li>
                    </ul>
                    <button type="button" class="btn btn-secondary no-padding mx-auto w-100" [disabled]="!canShowMore()" (click)="showMoreYoutube()">Show More</button>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <app-snackbar [messageOut] = "messageOut" ></app-snackbar>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Here's What We Found!</h4>
    </div>
    <div class="modal-body form was-validated">

        <div class="form-group row mx-auto">
            <label for="inputpotentialArtist" class="col-form-label font-weight-bold">Artist:</label>
            <div class="form-group col-md-6">
                <input [value]="potentialArtist" (input)="potentialArtist = $event.target.value" type="text" class="form-control" id="inputpotentialArtist"
                    placeholder="Artist Name" (focusout)="loadTrackFromFM()" [disabled] = "this.selectedArtist" required>
                <!--<small id="artistHelpBlock" class="form-text text-muted" *ngIf="!usernameTaken && hasClickedOff">Username is available!</small>-->
            </div>
        </div>

        <div class="form-group row mx-auto">
            <label for="inputpotentialAlbum" class="col-form-label font-weight-bold">Album:</label>
            <div class="form-group col-md-6">
                <input [value]="potentialAlbum" (input)="potentialAlbum = $event.target.value" type="text" class="form-control" id="inputpotentialAlbum"
                    placeholder="Album Name" (focusout)="loadTrackFromFM()" [disabled] = "this.selectedAlbum || potentialAlbum.length" required>
                <!--<small id="artistHelpBlock" class="form-text text-muted" *ngIf="!usernameTaken && hasClickedOff">Username is available!</small>-->
            </div>
        </div>

        <div class="form-group row mx-auto">
            <label for="inputpotentialSong" class="col-form-label font-weight-bold">Song:</label>
            <div class="form-group col-md-6">
                <input [value]="potentialSong" (input)="potentialSong = $event.target.value" type="text" class="form-control" id="inputpotentialSong"
                    placeholder="Song Name" [disabled] = "this.selectedSong" required>
                <!--<small id="artistHelpBlock" class="form-text text-muted" *ngIf="!usernameTaken && hasClickedOff">Username is available!</small>-->
            </div>
        </div>

    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-secondary col-2" (click)="d()">Cancel</button>
        <button type="button" class="btn btn-success col-3" (click)="c()" [disabled]="potentialArtist.length <= 0 || potentialAlbum.length <= 0 || potentialSong.length <= 0 ">Looks Good!</button>
    </div>
</ng-template>