<ngb-tabset justify="fill">
  <ngb-tab title="Artists">
    <ng-template ngbTabContent>
      <input [value]="searchString" (input)="searchString = $event.target.value" type="text" placeholder="Search" />

      <ul class="list-group list-group-flush static-size-list">
        <li class="list-group-item list-group-item-action" [ngClass]="{
          'list-group-item-action':selectedArtist && artist.artistId !== selectedArtistIndex,
          'list-group-item-success':selectedArtist && artist.artistId === selectedArtistIndex}" *ngFor="let artist of artists | async | filterPipe : searchString">
          <div (click)="selectArtist(artist)">
              {{artist.name}}
          </div>
        </li>
      </ul>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Albums">
    <ng-template ngbTabContent>
      <input [value]="searchString" (input)="searchString = $event.target.value" type="text" placeholder="Search" />

      <ul class="list-group list-group-flush static-size-list">
        <li class="list-group-item" [ngClass]="{
          'list-group-item-action':selectedAlbum && album.albumId !== selectedAlbumIndex,
          'list-group-item-success':selectedAlbum && album.albumId === selectedAlbumIndex}" *ngFor="let album of albums | async | filterPipe : searchString">
          <div (click)="selectAlbum(album)">
            {{album.name}}
          </div>
          <ul class="list-group list-group-flush" *ngIf="selectedAlbum && album.albumId === selectedAlbumIndex">
            <li class="list-group-item list-group-item-action" (click)="selectSong(song)" *ngFor="let song of selectedAlbum.song index as i">
              {{i+1}}. {{song.name}}
              <button type="button" class="btn btn-success float-right" [@slideState]="this.selectedSong === song.songId ? 'full' : 'buttonShrink'"
                (click)="addSong(song)">Add</button>
            </li>
          </ul>
        </li>
      </ul>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Songs">
    <ng-template ngbTabContent>
      <input [value]="searchString" (input)="searchString = $event.target.value" type="text" placeholder="Search" />

      <ul class="list-group list-group-flush static-size-list">
        <li class="list-group-item list-group-item-action" (click)="selectSong(song)" *ngFor="let song of songs | async | filterPipe : searchString">
          {{song.name}}
          <button type="button" class="btn btn-success float-right" [@slideState]="this.selectedSong === song.songId ? 'full' : 'buttonShrink'"
            (click)="addSong(song)">Add</button>
        </li>
      </ul>
    </ng-template>
  </ngb-tab>
</ngb-tabset>