<ngb-tabset justify="fill">

  <ngb-tab title="Artists">
    <ng-template ngbTabContent>
      <ul class="list-group list-group-flush static-size-list">
        <li class="list-group-item list-group-item-action" *ngFor="let artist of artists | async">
          {{artist.name}}
        </li>
      </ul>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Albums">
    <ng-template ngbTabContent>
      <ul class="list-group list-group-flush static-size-list">
        <li class="list-group-item list-group-item-action" *ngFor="let album of albums | async">
          {{album.name}}
        </li>
      </ul>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Songs">
    <ng-template ngbTabContent>
      <ul class="list-group list-group-flush static-size-list">
        <!--<li class="list-group-item list-group-item-action" [style.width]="this.selectedSong === song.songId ? '70%' : '100%'" (click)="selectSong(song)" *ngFor="let song of songs | async" trackBy:trackBySongId [@slideState]="song">-->
        <li class="list-group-item list-group-item-action" (click)="selectSong(song)" *ngFor="let song of songs | async">
          {{song.name}}
          <button type="button" class="btn btn-success float-right" [@slideState]="this.selectedSong === song.songId ? 'full' : 'buttonShrink'" (click)="addSong(song)">Add</button>
        </li>
      </ul>
    </ng-template>
  </ngb-tab>
</ngb-tabset>