<ngb-tabset justify="fill">

  <ngb-tab title="Artists">
    <ng-template ngbTabContent>
      <ul class="list-group list-group-flush static-size-list">
        <li class="list-group-item list-group-item-action" *ngFor="let artist of artists | async">
          {{artist.name}}
        </li>
      </ul>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Albums">
    <ng-template ngbTabContent>
      <ul class="list-group list-group-flush static-size-list">
        <li class="list-group-item list-group-item-action" *ngFor="let album of albums | async">
          {{album.name}}
        </li>
      </ul>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Songs">
    <ng-template ngbTabContent>
      <ul class="list-group list-group-flush static-size-list">
        <li class="list-group-item list-group-item-action" *ngFor="let song of songs | async">
          {{song.name}}
        </li>
      </ul>
    </ng-template>
  </ngb-tab>
</ngb-tabset>