#playlist-detail-container{
    width: 100%;
    height: 45vh;
}

#left-info{
    width: 45vw;
    height: 100%;
    overflow: hidden;
    border: 5px solid black;
    float: left;
    box-sizing: border-box;
}

#left-info img{
    width: 35%;
}

#detail-wrapper{
    display: inline-block; 
    vertical-align: top;
}

#detail-wrapper h3{
    display: block;
}

#detail-wrapper p{
    display: block;
}

#right-info{
    width: 30vw;
    height: 40vh;
    float: right;
    overflow: hidden;
    border: 5px solid grey;
    box-sizing: border-box;
}

#all-playlist-detail-container{
    border: 5px solid black;
    box-sizing: border-box;
    width: 100%;
}
