<!--<div *ngIf="!isEditing">
    <button type="button" (click)='loadPlayLists()'>Load All Playlist</button>
    <table class='table' *ngIf='playLists && playLists.length'>
        <tbody>
            <tr *ngFor="let pList of playLists">
                <td>{{ pList.name }}</td>
                <td>
                    <button type="button" (click)='editClicked()'>Edit</button>
                </td >
            </tr>
        </tbody>
    </table>
</div>-->

<div *ngIf="!isEditing">
    <button type="button" (click)='loadPlayLists()'>Load All Playlist</button>
    <ul class='table' *ngIf='playLists && playLists.length'>
        <li *ngFor="let pList of playLists; let i = index">
            {{ pList.name }}
            <button type="button" (click)='editClicked(i)'>Edit</button>
        </li>
    </ul>
</div>

<div *ngIf="isEditing">
    <input [value]="inputUrl" (input)="inputUrl = $event.target.value">
    <button type="button" (click)='addLink(inputUrl)'>Add to playlist</button>
    
    <ul class='table' *ngIf='playLists && playLists.length'>
        <li *ngFor="let song of playList.getAllYouTubeLinks(); let i = index">
            <img [src]="getUrlImage(i)"/>
            {{ song }}
            <button type="button" (click)='deleteClicked(i)'>Delete</button>
        </li>
    </ul>
</div>