<div *ngIf="!isEditing">
    <ul class='table' *ngIf='playlists && playlists.length'>
        <li *ngFor="let pList of playlists; let i = index">
            {{ pList.name }}
            <button type="button" (click)='editClicked(pList, i)'>Edit</button>
        </li>
    </ul>
</div>

<div *ngIf="isEditing">
    <input [value]="inputUrl" (input)="inputUrl = $event.target.value">
    <button type="button" (click)='addLink(inputUrl)'>Add to playlist</button>
    
    <button type="button" (click)='backClicked()'>Back</button>
    <ul class='table' *ngIf='_userService.getSongs(playlistToEdit) && _userService.getSongs(playlistToEdit).length'>
        <li *ngFor='let song of _userService.getSongs(playlistToEdit); let i = index'>
            <img [src]="getUrlImage(i,song.url)"/>
            {{ song.name }}
            <button type="button" (click)='deleteClicked(i)'>Delete</button><br>
        </li>
    </ul>
</div>